* {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

body {
  background-image: url("img/wall.png");
  min-width: 1400px;
  margin: 0;
}

#header{
  padding-top: 1px;
  background-color: #F3E2A9;
  height: 385px;
  display: block;
  position: relative;
}

#top-header {
  width: 80%;
  height: 108px;
  position: relative;
  margin: 0 auto;
}

#logo {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  height: 240x;
  width: 480px;
}

#navbar {
  position: relative;
  margin: 0 auto;
  height: 54px;
  width: 100%;
  display: block;
}

#navbar ul li{
  list-style: none;
}
#navbar ul {
  width: 1000px;
  height: 54px;
  margin: 0 auto;
  display: block;
}
#navbar > ul > li{
  padding-right:5px;
  display: inline-block;
  float: left;
}

#navbar > ul > li > a{
 margin-top: 40px;
 margin-left:50px;
}

a#about-img{
  display: block;
  width: 150px;
  height: 54px;
  padding-right: 5px;
  background-image: url("img/about.png"); /* 画像ファイル名 */
}
a#photo-img{
  display: block;
  width: 270px;
  height: 54px;
  background-image: url("img/photo.png"); /* 画像ファイル名 */
}
a#yoyaku-img{
  display: block;
  width: 200px;
  height: 54px;
  padding-left: 5px;
  background-image: url("img/yoyaku.png"); /* 画像ファイル名 */
}

#dr{
  width: 86px;
  height: 100px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url("img/donguri-right.png");
}

#dl{
  width: 87px;
  height: 100px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  background-image: url("img/donguri-left.png");
}


#navbar > ul > li > a:hover{
  background-position: 0 -54px; /* 画像ファイル名 */
  border-bottom: dashed 2px #ecb68a;
}

#content{
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#top{
  margin: 10px auto;
  width: 1100px;
  height: 567px;
  display: block;
}

#top-img{
  padding-top: 7px;
  margin: 10px auto;
  width: 850px;
  height: 560px;
  display: block;
}
.box{
  margin: 40px;
  height:400px;
  position: relative;
  background:#ffffff;
  padding:40px;
  box-shadow: 1px 1px 0 rgba(0,0,0,0,5);
  outline: 1px dashed #904444;
  outline-offset: -5px;/*-5pxで内側に*/
}

#about{
  height: 480px;
  margin-bottom: 0px;
}

#photo{
    height: 490px;
  margin-top: 100px;
}

#yoyaku{
  margin-top: 100px;
  height: 1000px;
}


#about > h2 {
  display: block;
  width: 150px;
  height: 54px;
  background-image: url("img/about.png");
}

#photo > h2 {
  display: block;
  width: 270px;
  height: 54px;
  background-image: url("img/photo.png");
}

#yoyaku > h2 {
  display: block;
  width: 200px;
  height: 54px;
  background-image: url("img/yoyaku.png");
}

#tw {
  margin-right: 40px;
  margin-top: -41px;
  float: right;
  bottom:0;
}

a#tw{
  display: block;
  width: 205px;
  height: 82px;
  background-image: url("img/twitter.png"); /* 画像ファイル名 */
}

a#tw:hover{
  background-position: 0 -82px; /* 画像ファイル名 */
}

a#chu{
  margin-top: 23px;
  float: left;
  margin-left: 40px;
  bottom: 0;
  display: block;
  width: 104px;
  height: 80px;
  background-image: url("img/chu.png");
}

a#chu:hover{
  background-position: 0 -81px;
}

h3#t_yoyaku{
  padding-top: 10px;
  padding-left: 10px;
}

p {
  padding-left: 20px;
}

p.caution{
  display: block;
  height: 10px;
  width: 90%;
  margin-top: 30px;
  font-weight: bold;
}

p#sakuhin{
  padding-left:35px;
  font-size: 80%;
}

#sub-contener{
  height: 200px;
  width: 30%;
  display: block;
  float: left;
}

#sub-contener > img{
  display: block;
  margin: auto;
}

#main-contener{
  height: 200px;
  width: 70%;
  display: block;
  float: right;
  text-align: left;
}

#member{
  margin-left: 30px;
  display: block;
  height: 365px;
  width: 100%;
  margin-top: 10px;
}

#half{
  height: 190px;
  display: block;
  float: left;
  text-align: left;
  width: 48%;
  margin-left: 10px;
}

.prof{
  width: 100%;
  height: 100px;
  display: block;
  float: left;
}

.prof > .prof-img{
  height: 80px;
  width: 25%;
  display: block;
  float: left;
}

.prof > .prof-text{
  height: 100px;
  width: 75%;
  display: block;
  float: left;
}
.prof > .prof-text > p{
  padding-left: 5px;
  font-size: 13px;
}

.prof > .prof-text > .name {
  width: 100%;
  height: 25px;
  display: block;
}

.prof > .prof-text > .name > p {
display: inline;
font-weight:bold;
font-size: 16px;
  padding: 0px;
}

.prof > .prof-text > .name > ul{
  width: 236px;
  height: 20px;
  display: block;
  margin-top: -20px;
margin-left: 80px;
}

.prof > .prof-text >.name >  ul > li{
  float: left;
    display: inline-block;
    padding-left: 10px;
}

a#tw-bottom{
    display: block;
width: 56px;
height: 16px;
  background-image: url("img/tw-bottom.png"); /* 画像ファイル名 */
}

a#tw-bottom:hover{
  background-position: 0 -16px;
}

a#ach-bottom{
    display: block;
  width: 55px;
  height: 16px;
  background-image: url("img/ach-bottom.png"); /* 画像ファイル名 */
}

a#ach-bottom:hover{
  background-position: 0 -16px;
}


h3#t_member{
  padding-left: 0;
  padding-top: 0;
}


#thanks > p {
display: inline;
font-weight:bold;
font-size: 16px;
  padding: 0px;
}

#thanks > ul{
  width: 240px;
  height: 20px;
  display: block;
  float: left;
  margin-top: 5px;
}

#thanks >  ul > li{
  float: left;
    display: inline-block;
    padding-left: 10px;
    font-weight:bold;
}

li#thanks-name{
  width: 70px;
  height: 20px;
  display: block;
}


#form-box {
  margin: 40px auto;
  display: block;
  height: 600px;
  width: 760px;
}

