* {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

#header{
  background-color: #F3E2A9;
  width: 100%;
  height: 82px;
  display: block;
}

#back{
  background-image: url("img/wall.png");
}

#inner{
  margin: auto;
  width:80%;
}

#logo {
  margin-top: 12px;
  float: left;
}

#navbar {
  padding-top: 10px;
  height: 54px;
width: 57%;
display: block;
float: left;
padding-left: 240px;
}

#navbar ul li{
  list-style: none;
}
#navbar ul {
  text-align: right;
  padding-top: 10px;
  padding-right: 0;
}
#navbar > ul > li{
  padding-right:10px;
  display: inline-block;
  float: left;
}

a#about-img{
  display: block;
  width: 150px;
  height: 54px;
  padding-right: 5px;
   background-image: url("img/about.png"); /* 画像ファイル名 */
}
a#photo-img{
  display: block;
  width: 270px;
  height: 54px;
   background-image: url("img/photo.png"); /* 画像ファイル名 */
}
a#yoyaku-img{
  display: block;
  width: 200px;
  height: 54px;
  padding-right: 0px;
   background-image: url("img/yoyaku.png"); /* 画像ファイル名 */
}

#tw {
  display: block;
  width: 82px;
  height: 82px;
  float: right;
}


#tw > a{
  display: block;
  width: 82px;
  height: 82px;
   background-image: url("img/twitter.png"); /* 画像ファイル名 */
}

#tw > a:hover{
  background-position: 0 -82px; /* 画像ファイル名 */
}


#navbar > ul > li > a:hover{
  background-position: 0 -54px; /* 画像ファイル名 */
}
#top{
  margin: 10px auto;
  width: 1100px;
  height: 567px;
  display: block;
}

#top-img{
  padding-top: 7px;
  margin: 10px auto;
  width: 850px;
  height: 560px;
  display: block;
}

.box{
    margin:40px;
    height:400px;
    position: relative;
    background:#ffffff;
    padding:40px;
}

#yoyaku{
  height: 800px;
}

.box:before{
    content: '';
    z-index: 1;
    position: absolute;
    border: 1px dashed #904444;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
    -moz-box-shadow: 0 0 0 1px #eee;
    -webkit-box-shadow: 0 0 0 1px #eee;
    box-shadow: 0 0 0 1px #eee;
}

#about > h2 {
    display: block;
  width: 150px;
  height: 54px;
   background-image: url("img/about.png");
}

#photo > h2 {
    display: block;
  width: 270px;
  height: 54px;
   background-image: url("img/photo.png");
}

#yoyaku > h2 {
    display: block;
  width: 200px;
  height: 54px;
   background-image: url("img/yoyaku.png");
}

h3 {
  padding-top: 10px;
  padding-left: 10px;
}

p {
  padding-left: 20px;
}

p.caution{
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

#sub-contener{
  height: 200px;
  width: 30%;
  display: block;
  float: left;
}

#sub-contener > img{
  display: block;
  margin: auto;
}
#main-contener{
  height: 200px;
  width: 70%;
  display: block;
  float: right;
  text-align: left;
}
#form-box {
  margin: 20px auto;
  display: block;
  height: 600px;
  width: 760px;
}

